In [65]:
import pandas as pd
import os
json_file = os.path.join("purchase_data.json")

In [66]:
purchase_data_df = pd.read_json(json_file)

In [67]:
purchase_data_df.head(20)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43

In [68]:
number_of_players = len(purchase_data_df["SN"].unique())
number_of_players

573

In [69]:
number_of_unique_items = len(purchase_data_df["Item Name"].unique())
number_of_unique_items

179

In [70]:
average_purchase_price = purchase_data_df["Price"].mean()
average_purchase_price

2.931192307692303

In [71]:
total_number_purchases = len(purchase_data_df)
total_number_purchases

780

In [72]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2286.3299999999963

In [73]:
purchase_data_df_male = purchase_data_df.loc[purchase_data_df["Gender"] == 'Male']
purchase_data_df_male.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [74]:
male_drop_dup_df = purchase_data_df_male.drop_duplicates("SN", keep='last')
male_drop_dup_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97

In [75]:
number_of_uniq_male = len(male_drop_dup_df)
number_of_uniq_male

465

In [76]:
percentage_of_males = number_of_uniq_male/number_of_players
percentage_of_males

0.8115183246073299

In [77]:
purchase_data_df_female = purchase_data_df.loc[purchase_data_df["Gender"] == 'Female']
purchase_data_df_female.head()

,Age,Gender,Item ID,Item Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25

In [78]:
female_drop_dup_df = purchase_data_df_female.drop_duplicates("SN", keep='last')
female_drop_dup_df.head()

    Age  Gender  Item ID                      Item Name  Price          SN
16   22  Female      123              Twilight's Carver   1.14  Sundista85
17   22  Female       59  Lightning, Etcher of the King   1.65   Aenarap34
29   16  Female       45            Glinting Glass Edge   2.46   Phaedai25
30   21  Female      155      War-Forged Gold Deflector   3.73  Eulaeria40
35   21  Female       13                       Serenity   1.49     Aisur51

In [79]:
number_of_uniq_females = len(female_drop_dup_df)
number_of_uniq_females

100

In [80]:
percentage_of_females = number_of_uniq_females/number_of_players
percentage_of_females

0.17452006980802792

In [81]:
purchase_data_df_other = purchase_data_df.loc[(purchase_data_df["Gender"] != 'Female') & (purchase_data_df["Gender"] != 'Male')]
purchase_data_df_other

,Age,Gender,Item ID,Item Name,Price,SN
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84
298,26,Other / Non-Disclosed,141,Persuasion,3.27,Faralcil63
329,27,Other / Non-Disclosed,61,Ragnarok,3.97,Eurisuru25
423,32,Other / Non-Disclosed,29,"Chaos, Ender of the End",3.79,Aithelis62
593,22,Other / Non-Disclosed,115,Spectral Diamond Doomblade,4.25,Euna48
709,34,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",1.88,Assassa38
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25

In [82]:
other_drop_dup_df = purchase_data_df_other.drop_duplicates("SN", keep='last')
other_drop_dup_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84
298,26,Other / Non-Disclosed,141,Persuasion,3.27,Faralcil63
423,32,Other / Non-Disclosed,29,"Chaos, Ender of the End",3.79,Aithelis62

In [83]:
number_of_uniq_other = len(other_drop_dup_df)
number_of_uniq_other

8

In [84]:
percentage_of_other = number_of_uniq_other/number_of_players
percentage_of_other

0.013961605584642234

In [85]:
total_purchases_male = len(purchase_data_df_male)
total_purchases_male

633

In [86]:
average_purchaseprice_male = purchase_data_df_male['Price'].mean()
average_purchaseprice_male

2.9505213270142154

In [87]:
total_purchasevalue_male = purchase_data_df_male['Price'].sum()
total_purchasevalue_male

1867.6799999999985

In [88]:
#insert normalization here

In [89]:
#insert normalization here

In [90]:
total_purchases_female = len(purchase_data_df_female)
total_purchases_female

136

In [91]:
average_purchaseprice_female = purchase_data_df_female['Price'].mean()
average_purchaseprice_female

2.815514705882352

In [92]:
total_purchasevalue_female = purchase_data_df_female['Price'].sum()
total_purchasevalue_female

382.90999999999985

In [93]:
#insert normalization here

In [94]:
#insert normalization here

In [95]:
total_purchases_other = len(purchase_data_df_other)
total_purchases_other

11

In [96]:
average_purchaseprice_other = purchase_data_df_other['Price'].mean()
average_purchaseprice_other

3.2490909090909086

In [97]:
total_purchasevalue_other = purchase_data_df_other['Price'].sum()
total_purchasevalue_other

35.739999999999995

In [98]:
purchase_data_df['Age'].min()

7

In [99]:
purchase_data_df['Age'].max()

45

In [100]:
bins = [0, 18, 24, 36, 48]
group_names = ['Minors/Teen', 'Young Adult', 'Adult', 'Middle-Age']
purchase_data_df['Age Demographic'] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)

In [101]:
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Demographic
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,Middle-Age
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,Young Adult
2,34,Male,174,Primitive Blade,2.46,Assastnya25,Adult
3,21,Male,92,Final Critic,1.36,Pheusrical25,Young Adult
4,23,Male,63,Stormfury Mace,1.27,Aela59,Young Adult

In [139]:
age_demographics_purchases = purchase_data_df.groupby('Age Demographic')
age_demographics_purchases['Age'].count().rename('Purchases')

Age Demographic
Adult          208
Middle-Age      40
Minors/Teen    174
Young Adult    358
Name: Purchases, dtype: int64

In [144]:
age_demographics_purchases['Price'].mean()

Age Demographic
Adult          3.003558
Middle-Age     2.899750
Minors/Teen    2.872011
Young Adult    2.921425
Name: Price, dtype: float64

In [141]:
age_demographics_purchases['Price'].sum()

Age Demographic
Adult           624.74
Middle-Age      115.99
Minors/Teen     499.73
Young Adult    1045.87
Name: Price, dtype: float64