# Heroes of Pymoli

Analysis #1: Looking at the top 5 popular items and the top 5 profitable items, I would be interested in increasing the price for the popular items.  Assuming that the items are similar in nature, you have profitable ones selling at nearly twice the price as the popular items.  As for the purchase counts, you will also see that although there is a decrease of approximately 30% in purchase count, the purchase price is nearly doubled.  Which, in effect, would be profitable if you double the price of the popular items.

Analysis #2: Looking at the normalized purchases, you notice that the average price spent per age demographic increases with age.  This is expected since older individuals have more stable income.  The takeaway from this data, is that older individuals are price/demand inelastic, meaning that they are not sensitive to increase in prices.  Hence an increase in certain items that are popular in that age group would yield more profits.  Basically when prices increase for that age group, then revenue should increase as well.  According to the function e=|(dQ/Q)/(dP/P)|, a value closer to 0 is good, where the increase in price results in a small (or smaller) decrease in quantity purchased.

Analysis #3:  Looking at the gender demographics, it is obvious that the male players are spending more on items (according to the normalized average purchases).  I would ignore the Non-disclosed gender, based on the fact that it is too small of a sample size, most likely with a large margin of error.  Hence, from a marketing perspective, if one had a fixed marketing budget, the target audience would be males.  Due to the evidence, males spend more on items, and hence offer a better return on investment (per dollar invested in marketing campaign).

In [14]:
import pandas as pd
import os
json_file = os.path.join("purchase_data.json")

In [ ]:
purchase_data_df = pd.read_json(json_file)
#purchase_data_df.head()

## Total number of players

In [17]:
number_of_players = len(purchase_data_df["SN"].unique())
number_of_players

573

## Purchasing analysis (Total)

In [82]:
#TOTAL NUMBER OF UNIQUE ITEMS - USING 'UNIQUE' METHOD ON 'ITEM NAME' COLUMN
number_of_unique_items = len(purchase_data_df["Item Name"].unique())
number_of_unique_items

179

In [83]:
#AVERAGE PRICE OF EACH ITEM - USING MEAN METHOD ON 'PRICE' COLUMN
average_purchase_price = purchase_data_df["Price"].mean()
average_purchase_price

2.931192307692303

In [84]:
#TOTAL NUMBER OF PURCHASES - CALLING LENGTH FUNCTION
total_number_purchases = len(purchase_data_df)
total_number_purchases

780

In [85]:
#TOTAL REVENUE - CALLING SUM OF PRICE COLUMN
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2286.3299999999963

## GENDER DEMOGRAPHICS

#### Percentage and count of Male players

In [86]:
gender_demo_male = purchase_data_df.loc[purchase_data_df["Gender"] == 'Male']
#gender_demo_male.head()

In [87]:
gender_demo_male_dropdup = gender_demo_male.drop_duplicates("SN", keep='last')
#gender_demo_male_dropdup.head()

In [88]:
number_of_uniq_male = len(gender_demo_male_dropdup)
number_of_uniq_male

465

In [27]:
percentage_of_males = number_of_uniq_male/number_of_players
percentage_of_males

0.8115183246073299

#### Percentage and count of Female players

In [89]:
gender_demo_female = purchase_data_df.loc[purchase_data_df["Gender"] == 'Female']
#gender_demo_female.head()

In [90]:
gender_demo_female_dropdup = gender_demo_female.drop_duplicates("SN", keep='last')
#gender_demo_female_dropdup.head()

In [91]:
number_of_uniq_females = len(gender_demo_female_dropdup)
number_of_uniq_females

100

In [92]:
percentage_of_females = number_of_uniq_females/number_of_players
percentage_of_females

0.17452006980802792

#### Percentage and count of 'Other' players

In [93]:
gender_demo_other = purchase_data_df.loc[(purchase_data_df["Gender"] != 'Female') & (purchase_data_df["Gender"] != 'Male')]
#gender_demo_other.head()

In [94]:
gender_demo_other_dropdup = gender_demo_other.drop_duplicates("SN", keep='last')
#gender_demo_other_dropdup.head()

In [95]:
number_of_uniq_other = len(gender_demo_other_dropdup)
number_of_uniq_other

8

In [96]:
percentage_of_other = number_of_uniq_other/number_of_players
percentage_of_other

0.013961605584642234

## Purchasing analysis (Gender)

In [98]:
#TOTAL PURCHASES BY MALES - USING THE DATAFRAME CREATED FROM 'GENDER DEMOGRAPHICS'
total_purchases_male = len(gender_demo_male)
total_purchases_male

633

In [99]:
#AVERAGE PURCHASE PRICE BY MALES
average_purchaseprice_male = gender_demo_male['Price'].mean()
average_purchaseprice_male

2.9505213270142154

In [100]:
#TOTAL REVENUE FROM PURCHASES MADE BY MALES
total_purchasevalue_male = gender_demo_male['Price'].sum()
total_purchasevalue_male

1867.6799999999985

In [101]:
#normalized total - amount spent per (UNIQUE) male (per capita)
normalized_total_male = total_purchasevalue_male/number_of_uniq_male
normalized_total_male

4.016516129032254

In [42]:
#-----------------------------------------------------------------------------------------------#

In [43]:
#TOTAL PURCHASES BY FEMALES
total_purchases_female = len(gender_demo_female)
total_purchases_female

136

In [44]:
#AVERAGE PURCHASE PRICE BY FEMALES
average_purchaseprice_female = gender_demo_female['Price'].mean()
average_purchaseprice_female

2.815514705882352

In [102]:
#TOTAL AMOUNT OF SALES FROM ALL PURCHASES BY FEMALES
total_purchasevalue_female = gender_demo_female['Price'].sum()
total_purchasevalue_female

382.90999999999985

In [46]:
#normalized total - amount purchased per female (per capita)
normalized_total_female = total_purchasevalue_female/number_of_uniq_females
normalized_total_female

3.8290999999999986

In [47]:
#----------------------------------------------------------------------------------------------------#

In [48]:
#TOTAL NUMBER OF PURCHASES BY NON-DISCLOSED GENDERS
total_purchases_other = len(gender_demo_other)
total_purchases_other

11

In [103]:
#AVERAGE PURCHASE PRICE BY NON-DISCLOSED GENDERS
average_purchaseprice_other = gender_demo_other['Price'].mean()
average_purchaseprice_other

3.2490909090909086

In [104]:
#TOTAL AMOUNT OF SALES FROM PURCHASES BY NON-DISCLOSED GENDERS
total_purchasevalue_other = gender_demo_other['Price'].sum()
total_purchasevalue_other

35.739999999999995

In [51]:
#normalized total - amount purchased per other (per capita)
normalized_total_other = total_purchasevalue_other/number_of_uniq_other
normalized_total_other

4.467499999999999

## Age demographics

In [54]:
purchase_data_df['Age'].min()

7

In [55]:
purchase_data_df['Age'].max()

45

In [108]:
#SEPERATED THE CATEGORIES BASED ON LIFE EVENTS, MINORS<18 ARE TYPICALLY LIVING AT HOME,
#AGES 18-24 ARE TYPICALLY IN COLLEGE OR NEW GRADS WITH NO JOBS, AGES 24-36 ARE ADULTS
#WITH STABLE INCOME AND MAY OR MAY NOT HAVE YOUNGER KIDS, AGES 36+ ARE MIDDLE AGE ADULTS.
bins = [0, 18, 24, 36, 48]
group_names = ['Minors/Teen <18', 'Young Adult 18-24', 'Adult 24-36', 'Older Adult 36+']
purchase_data_df['Age Demographic'] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
#purchase_data_df.head()

In [58]:
age_demographics_purchases = purchase_data_df.groupby(['Age Demographic'])
pd.DataFrame(age_demographics_purchases['Age'].count().rename('Purchase Count'))

                   Purchase Count
Age Demographic
Adult 24-36                   208
Minors/Teen <18               174
Older Adult 36+                40
Young Adult 18-24             358

In [59]:
pd.DataFrame(age_demographics_purchases['Price'].mean().rename('Average Purchase Price'))

                   Average Purchase Price
Age Demographic
Adult 24-36                      3.003558
Minors/Teen <18                  2.872011
Older Adult 36+                  2.899750
Young Adult 18-24                2.921425

In [60]:
age_demographic_total_purchases_df = pd.DataFrame(age_demographics_purchases['Price'].sum().rename('Total Purchase Value'))
age_demographic_total_purchases_df

                   Total Purchase Value
Age Demographic
Adult 24-36                      624.74
Minors/Teen <18                  499.73
Older Adult 36+                  115.99
Young Adult 18-24               1045.87

In [109]:
age_demographics_normalized = purchase_data_df.drop_duplicates("SN", keep='last').groupby(['Age Demographic'])
age_demographics_normalized_df = pd.DataFrame(age_demographics_normalized['Age'].count().rename('Normalized Purchase Count'))
#age_demographics_normalized_df

In [110]:
per_capita = age_demographic_total_purchases_df['Total Purchase Value']/age_demographics_normalized_df['Normalized Purchase Count']
per_capita = per_capita.rename('Normalized Purchase')
pd.DataFrame(per_capita)

                   Normalized Purchase
Age Demographic
Adult 24-36                   4.249932
Minors/Teen <18               3.966111
Older Adult 36+               4.639600
Young Adult 18-24             3.803164

## Top spenders

In [118]:
#CREATING THE TOP 5 SPENDERS AS A DATAFRAME, THIS DATAFRAME WILL ANCHOR ALL THE
#OTHER FULL DATAFRAMES, SO THAT WHEN MERGED, ALL OTHER USERS WILL BE FILTERED OUT
#EXCEPT FOR THE TOP 5 SPENDERS THAT WE SPECIFY IN THE ANCHOR DATAFRAME.
top_spenders = purchase_data_df.groupby(['SN'])
top5_spenders_sum_df = top_spenders[['Price']].sum().sort_values(['Price'],ascending=False).rename(columns={'Price':'Total Purchases'}).head().reset_index(drop=False)
#top5_spenders_sum_df

In [120]:
#FULL DATAFRAME LISTING THE AVERAGE PURCHASE OF EVERY PLAYER
top_spenders_mean = top_spenders['Price'].mean()
top_spenders_mean_df = pd.DataFrame(top_spenders_mean).rename(columns={'Price': 'Average Purchase'}).reset_index(drop=False)
#top_spenders_mean_df.head()

In [122]:
#MERGING THE ANCHOR DATAFRAME TO THE FULL DATAFRAME IN ORDER TO FILTER
merge_tables = pd.merge(top5_spenders_sum_df, top_spenders_mean_df, on='SN')
#merge_tables

In [124]:
#CREATING ANOTHER FULL DATAFRAME COUNTING THE NUMBER OF PURCHASES PER PLAYER
top_spenders_purchases = top_spenders['SN'].count()
top_spenders_purchases_df = pd.DataFrame(top_spenders_purchases).rename(columns={'SN':'Number of Purchases'}).reset_index(drop=False)
#top_spenders_purchases_df.head()

In [126]:
top_spenders_merge_tables_df = pd.merge(merge_tables, top_spenders_purchases_df, on='SN')
top_spenders_merge_tables_df[['SN', 'Number of Purchases', 'Average Purchase', 'Total Purchases']]

            SN  Number of Purchases  Average Purchase  Total Purchases
0  Undirrala66                    5          3.412000            17.06
1     Saedue76                    4          3.390000            13.56
2  Mindimnya67                    4          3.185000            12.74
3   Haellysu29                    3          4.243333            12.73
4       Eoda93                    3          3.860000            11.58

## Most popular items

In [129]:
#CREATING THE ANCHOR DATA FRAME BASED ON TOTAL NUMBER OF PURCHASES PER ITEM, TO FIND OUT THE MOST
#POPULAR ITEMS.  GROUPING BY ITEM ID, ITEM NAME, AND PRICE, IN THEORY...THEY SHOULD ALL BE RELATED,
#IF NOT, THEN THERE WAS SOME MISLABELLING, SO GROUPING BY ALL THREE COLUMNS WILL ENSURE ACCURACY.
popular_items = purchase_data_df.groupby(['Item ID', 'Item Name', 'Price'])
popular_items_df = popular_items[['Age']].count().sort_values(['Age'],ascending=False).rename(columns={'Age':'Purchase Count'}).head().reset_index(drop=False)
#popular_items_df

In [131]:
#CREATING A FULL DATAFRAME WITH THE SUM OF THE PURCHASE VALUE FOR EACH ITEM
popular_items_sum = popular_items[['Price']].sum().rename(columns={'Price':'Total Purchase Value'}).reset_index(drop=False)
#popular_items_sum.head()

In [136]:
#MERGING THE PURCHASE COUNT AND PURCHASE VALUE DATAFRAMES, WITH PURCHASE COUNT AS THE ANCHOR
popular_items_merge_df = pd.merge(popular_items_df, popular_items_sum, on=['Item Name', 'Item ID', 'Price'])
popular_items_merge_df

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
1,84,Arcane Gem,2.23,11,24.53
2,31,Trickster,2.07,9,18.63
3,175,Woeful Adamantite Claymore,1.24,9,11.16
4,13,Serenity,1.49,9,13.41

## Most profitable items

In [138]:
#CREATING ANOTHER ANCHOR DATAFRAME BY ITEMS WITH THE HIGHEST TOTAL EARNINGS
profitable_items = purchase_data_df.groupby(['Item ID', 'Item Name','Price'])
profitable_items_df = profitable_items[['Price']].sum().sort_values(['Price'], ascending=False).rename(columns={'Price':'Total Purchase Value'}).reset_index(drop=False).head()
#profitable_items_df

In [143]:
#CREATING A FULL DATAFRAME WITH THE SUM OF THE PURCHASE COUNTS, TO BE USED FOR MERGING
#WITH ANCHOR DATAFRAME
profitable_items_count_df = profitable_items[['SN']].count().sort_values(['SN'], ascending=False).rename(columns={'SN':'Purchase Count'}).reset_index(drop=False)
#profitable_items_count_df.head()

In [144]:
#MERGING BOTH PURCHASE COUNT AND PURCHASE DATAFRAMES, WITH THE EARNINGS DATAFRAME AS THE ANCHOR
merged_table_profitable_df = pd.merge(profitable_items_df, profitable_items_count_df, on=['Item Name','Item ID','Price'])
merged_table_profitable_df[['Item ID', 'Item Name', 'Price', 'Purchase Count', 'Total Purchase Value']]

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,34,Retribution Axe,4.14,9,37.26
1,115,Spectral Diamond Doomblade,4.25,7,29.75
2,32,Orenmir,4.95,6,29.70
3,103,Singed Scalpel,4.87,6,29.22
4,107,"Splitter, Foe Of Subtlety",3.61,8,28.88